<%- include('../../partials/header-student') -%>
<div class="container">
    <div>
        <a class="btn btn-primary" href="/students/profile"
            >Return to profile</a
        >
    </div>
    <div>
        <h2><%= lesson.formattedDate %></h2>
        <!-- <img class="img-fluid" src="<%= lesson.image%>" /> -->
    </div>
    <div><%= lesson.content %></div>
</div>

<%- include('../../partials/footer') -%>
