<%- include('../../partials/header-teacher') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <div>
              <p><strong>Name</strong>: <%= teacher.name %></p>
              <p><strong>Email</strong>: <%= teacher.email %></p>
              <a href="/teachers/logout" class="col-3 btn btn-primary">Logout</a>
          </div>
    <div class="row justify-content-center mt-5">
      <!-- show the student's name -->
       <h1><%= student.name %></h1>
      <p><strong>Student email:</strong> <%= student.email %></p>
        <!-- lesson plans -->
      <ul class="lessons">
        <% for(var i=0; i<lessons.length; i++) {%>
          <li>
            <a href="/teachers/students/<%= student._id%>/lessons/<%= lessons[i]._id %>"><%= lessons[i].formattedDate %></a>
          </li>
        <% } %>
      </ul>
  </div>  
  <!-- add a new lesson plan -->
  <div class="col-6">
            <a href="/teachers/students/<%= student._id%>/lessons/new" class="btn btn-primary">New Lesson</a>
  </div>
  <!-- todo: delete student -->
  <!-- this should be a button only -->
   <div class="col-6">
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/teachers/dashboard">Return to Dashboard</a>
        </div>  
      </div>  
</div>
<%- include('../../partials/footer') -%>