<%- include('../../partials/header-teacher') -%>
<div class="container">
    <div class="sub-container">
        <div class="dashboard-heading">
            <p><strong>Name</strong>: <%= teacher.name %></p>
            <p><strong>Email</strong>: <%= teacher.email %></p>
            <a href="/logout" class="btn">Logout</a>
        </div>
    </div>
    <div>
        <p><strong>Student</strong>: <%= student.name %></p>
    </div>
    <div class="sub-container">
        <h2>Add a lesson</h2>
        <form
            action="/teachers/students/<%= student._id%>/lessons"
            method="POST"
        >
            <div class="form-label-group">
                <label for="date" class="form-label">Date</label>
                <input type="date" class="form-control" id="date" name="date" />
            </div>
            <div class="form-label-group">
                <label for="text-area" class="form-label">Lesson</label>
                <textarea
                    class="form-control"
                    id="text-area"
                    rows="10"
                    name="content"
                ></textarea>
            </div>
            <button type="submit" class="btn btn-primary" value="Upload">
                Submit
            </button>
        </form>
    </div>
    <div class="col-6">
        <div class="row justify-content-center mt-5 gap-4">
            <a
                class="btn btn-primary"
                href="/teachers/students/<%= student.id %>"
                >Return to Student</a
            >
            <a class="btn btn-primary" href="/teachers/dashboard"
                >Return to Dashboard</a
            >
        </div>
    </div>
</div>
<script>
    // set the default value of the date input to today's date
    document.getElementById("date").valueAsDate = new Date();
</script>
<%- include('../../partials/footer') -%>
