<%- include('../../partials/header-teacher') -%>
<div class="container">
        <div>
            <a
            class="btn btn-primary"
            href="/teachers/students/<%= student.id %>"
            >Return to Student</a
            >
        </div>
        <div>
            <a class="btn btn-primary" href="/teachers/dashboard"
            >Return to Dashboard</a
            >
        </div>
        <div class="container">
            <div class="lesson-heading">
            <h2><%= lesson.formattedDate %></h2>
            <%if(lesson.teacher == teacher.id){ %>
                <form
                action="/teachers/students/<%= student.id %>/lessons/<%= lesson.id %>?_method=DELETE"
                method="POST"
                class="col-3"
                >
                <button
                class="btn btn-primary fa fa-trash"
                type="submit"
                ></button>
            </form>
            <%}%>
        </div> 
        <!-- 
            <img class="img-fluid" src="<%= lesson.image%>" />
         -->
            <div><%- lesson.content %></div>

</div>

<%- include('../../partials/footer') -%>
