<%- include('../partials/header-teacher') -%>
<div class="container">
  <div class="sub-container">
    <div class="your-teacher">
      <p><strong>Name</strong>: <%= teacher.name %></p>
      <p><strong>Email</strong>: <%= teacher.email %></p>
      <a href="/teachers/logout" class="btn">Logout</a>
    </div>
  </div>
    <div>
        <a href="/teachers/students/new" class="btn">Add a student</a>
    </div>
    <div>
     <ul class="lessons">
    <% for(var i=0; i<students.length; i++) {%>
      <li >
        <a class="card" href="/teachers/students/<%= students[i]._id%>"><%= students[i].name %></a>
      </li>
    <% } %>
    </ul>
    </div>
    <%- include('../partials/footer') -%>
</div>
